<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

<h1 align=center><font size = 5>Assignment: Notebook for Graded Assessment</font></h1>

# Introduction

Using this Python notebook you will:

1.  Understand three Chicago datasets
2.  Load the three datasets into three tables in a SQLIte database
3.  Execute SQL queries to answer assignment questions

## Understand the datasets

To complete the assignment problems in this notebook you will be using three datasets that are available on the city of Chicago's Data Portal:

1.  <a href="https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Socioeconomic Indicators in Chicago</a>
2.  <a href="https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Public Schools</a>
3.  <a href="https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">Chicago Crime Data</a>

### 1. Socioeconomic Indicators in Chicago

This dataset contains a selection of six socioeconomic indicators of public health significance and a “hardship index,” for each Chicago community area, for the years 2008 – 2012.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2](https://data.cityofchicago.org/Health-Human-Services/Census-Data-Selected-socioeconomic-indicators-in-C/kn9c-c2s2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 2. Chicago Public Schools

This dataset shows all school level performance data used to create CPS School Report Cards for the 2011-2012 school year. This dataset is provided by the city of Chicago's Data Portal.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### 3. Chicago Crime Data

This dataset reflects reported incidents of crime (with the exception of murders where data exists for each victim) that occurred in the City of Chicago from 2001 to present, minus the most recent seven days.

A detailed description of this dataset and the original dataset can be obtained from the Chicago Data Portal at:

[https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2](https://data.cityofchicago.org/Public-Safety/Crimes-2001-to-present/ijzp-q8t2?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

### Download the datasets

This assignment requires you to have these three tables populated with a subset of the whole datasets.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. 

Use the links below to read the data files using the Pandas library. 

* Chicago Census Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Public Schools

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

* Chicago Crime Data

https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01

**NOTE:** Ensure you use the datasets available on the links above instead of directly from the Chicago Data Portal. The versions linked here are subsets of the original datasets and have some of the column names modified to be more database friendly which will make it easier to complete this assignment.

Execute the below code cell to avoid prettytable default error.

In [1]:
!pip install ipython-sql prettytable

import prettytable

prettytable.DEFAULT = 'DEFAULT'

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable
  Downloading prettytable-3.15.1-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (8.31.0)
Requirement already satisfied: sqlalchemy>=2.0 in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (2.0.37)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in /opt/conda/lib/python3.12/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in /opt/conda/lib/python3.12/site-packages (from prettytable) (0.2.13)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/conda/lib/python3.12/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.12.2)
Requirement already satisfied: decorator in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (4.9.0)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (3.0.50)
Requirement already satisfied: pygments>=2.4.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (2.19.1)
Requirement already satisfied: stack_data in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in /opt/conda/lib/python3.12/site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /opt/conda/lib/python3.12/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /opt/conda/lib/python3.12/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (2.1.0)
Requirement already satisfied: asttokens>=2.1.0 in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure_eval in /opt/conda/lib/python3.12/site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading prettytable-3.15.1-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.15.1 sqlparse-0.5.3

### Store the datasets in database tables

To analyze the data using SQL, it first needs to be loaded into SQLite DB.
We will create three tables in as under:

1.  **CENSUS_DATA**
2.  **CHICAGO_PUBLIC_SCHOOLS**
3.  **CHICAGO_CRIME_DATA**

Load the `pandas` and `sqlite3` libraries and establish a connection to `FinalDB.db`

In [11]:
import pandas as pd
import sqlite3

con = sqlite3.connect("FinalDB.db")

Load the SQL magic module

In [18]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Use `Pandas` to load the data available in the links above to dataframes. Use these dataframes to load data on to the database `FinalDB.db` as required tables.

In [ ]:
CCensusD = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCensusData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
CPSchools = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")
CCrimeData =pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoCrimeData.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01")

CCensusD.to_sql("Census_Data", con, if_exists="replace")
CPSchools.to_sql("Schools_Data", con)
CCrimeData.to_sql("CrimeData", con)

Establish a connection between SQL magic module and the database `FinalDB.db`

In [37]:
%sql sqlite:///FinalDB.db

In [54]:
CCrimeData.to_sql("Crime_data", con, if_exists="replace", index=False)

533

You can now proceed to the the following questions. Please note that a graded assignment will follow this lab and there will be a question on each of the problems stated below. It can be from the answer you received or the code you write for this problem. Therefore, please keep a note of both your codes as well as the response you generate.

## Problems

Now write and execute SQL queries to solve assignment problems

### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [56]:
%sql SELECT Count(*) FROM Crime_Data

 * sqlite:///FinalDB.db
Done.

[(533,)]

In [63]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///FinalDB.db
Done.

[('Schools_Data',), ('Census_Data',), ('Crime_data',)]

In [65]:
%sql DROP TABLE IF EXISTS Census_Data2;
%sql DROP TABLE IF EXISTS CrimeData;
%sql DROP TABLE IF EXISTS Crime_data;

 * sqlite:///FinalDB.db
Done.
 * sqlite:///FinalDB.db
Done.
 * sqlite:///FinalDB.db
Done.

[]

In [62]:
%sql ALTER TABLE Crime_data RENAME TO Crime_Data;

 * sqlite:///FinalDB.db
(sqlite3.OperationalError) there is already another table or index with this name: Crime_Data
[SQL: ALTER TABLE Crime_data RENAME TO Crime_Data;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

In [68]:
%sql SELECT name FROM sqlite_master WHERE type='table';

 * sqlite:///FinalDB.db
Done.

[('Schools_Data',), ('Census_Data',), ('Crime_Data',)]

In [67]:
CCrimeData.to_sql("Crime_Data", con)

533

In [85]:
%sql SELECT * FROM Crime_Data LIMIT 20

 * sqlite:///FinalDB.db
Done.

[(0, 3512276, 'HK587712', '2004-08-28', '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 0, 0, 911, 9, 14.0, 58.0, '6', 1155838.0, 1873050.0, 2004, 41.8074405, -87.70395585, '(41.8074405, -87.703955849)'),
 (1, 3406613, 'HK456306', '2004-06-26', '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 0, 0, 1112, 11, 27.0, 23.0, '6', 1152206.0, 1906127.0, 2004, 41.89827996, -87.71640551, '(41.898279962, -87.716405505)'),
 (2, 8002131, 'HT233595', '2011-04-04', '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 0, 0, 221, 2, 3.0, 38.0, '6', 1177436.0, 1876313.0, 2011, 41.81593313, -87.62464213, '(41.815933131, -87.624642127)'),
 (3, 7903289, 'HT133522', '2010-12-30', '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 0, 0, 423, 4, 7.0, 46.0, '6', 1194622.0, 1850125.0, 2010, 41.74366532, -87.56246276, '(41.743665322, -87.562462756)'),
 (4, 10402076, 'HZ138551', '2016-02-02', '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 0, 0, 831, 8, 15.0, 66.0, '6', 1155240.0, 1860661.0, 2016, 41.7734553, -87.70648047, '(41.773455295, -87.706480471)'),
 (5, 7732712, 'HS540106', '2010-09-29', '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1323, 12, 27.0, 24.0, '6', 1171668.0, 1905607.0, 2010, 41.89644677, -87.64493868, '(41.896446772, -87.644938678)'),
 (6, 10769475, 'HZ534771', '2016-11-30', '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 1713, 17, 33.0, 14.0, '6', 1154133.0, 1933314.0, 2016, 41.97284491, -87.70860008, '(41.972844913, -87.708600079)'),
 (7, 4494340, 'HL793243', '2005-12-16', '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 1, 0, 213, 2, 3.0, 38.0, '6', 1180448.0, 1879234.0, 2005, 41.82387989, -87.61350386, '(41.823879885, -87.613503857)'),
 (8, 3778925, 'HL149610', '2005-01-28', '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 0, 0, 2211, 22, 19.0, 72.0, '6', 1160129.0, 1838040.0, 2005, 41.71128051, -87.6891791, '(41.711280513, -87.689179097)'),
 (9, 3324217, 'HK361551', '2004-05-13', '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 0, 0, 1733, 17, 35.0, 21.0, '6', 1153590.0, 1921084.0, 2004, 41.93929582, -87.71092344, '(41.939295821, -87.710923442)'),
 (10, 9902691, 'HX552797', '2014-12-23', '076XX S CICERO AVE', '860', 'THEFT', 'RETAIL THEFT', 'DEPARTMENT STORE', 1, 0, 833, 8, 13.0, 65.0, '6', 1145727.0, 1853720.0, 2014, 41.75459296, -87.74152854, '(41.754592961, -87.741528537)'),
 (11, 7947964, 'HT180228', '2011-02-26', '012XX S HALSTED ST', '820', 'THEFT', '$500 AND UNDER', 'BAR OR TAVERN', 0, 0, 1232, 12, 25.0, 28.0, '6', 1171230.0, 1894421.0, 2011, 41.86576126, -87.64687598, '(41.865761261, -87.646875977)'),
 (12, 8568365, 'HV243612', '2012-04-15', '108XX S EMERALD AVE', '820', 'THEFT', '$500 AND UNDER', 'RESIDENTIAL YARD (FRONT/BACK)', 0, 0, 2233, 22, 34.0, 49.0, '6', 1173239.0, 1832994.0, 2012, 41.69715437, -87.64131567, '(41.697154372, -87.641315669)'),
 (13, 5343947, 'HN200365', '2007-02-26', '011XX S CANAL ST', '842', 'THEFT', 'AGG: FINANCIAL ID THEFT', 'OTHER', 0, 0, 131, 1, 2.0, 28.0, '6', 1173307.0, 1895342.0, 2007, 41.86824272, -87.63922391, '(41.868242722, -87.639223912)'),
 (14, 3121541, 'HK108680', '2003-01-05', '038XX W FLOURNOY ST', '890', 'THEFT', 'FROM BUILDING', 'RESIDENCE PORCH/HALLWAY', 0, 0, 1133, 11, 24.0, 26.0, '6', 1150808.0, 1896753.0, 2003, 41.87258418, -87.72178565, '(41.872584178, -87.72178565)'),
 (15, 10209850, 'HY396729', '2015-08-24', '026XX N ELSTON AVE', '820', 'THEFT', '$500 AND UNDER', 'PARKING LOT/GARAGE(NON.RESID.)', 0, 0, 1432, 14, 1.0, 22.0, '6', 1160867.0, 1917657.0, 2015, 41.92974382, -87.68427378, '(41.929743818, -87.684273777)'),
 (16, 6866556, 'HR271603', '2009-04-16', '089XX S STONY ISLAND AVE', '860', 'THEFT', 'RETAIL THEFT', 'OTHER', 1, 0, 413, 4, 8.0, 48.0, '6', 1188475.0, 1846086.0, 2009, 41.73273081, -87.58511413, '(41.732730806, -87.585114125)'),
 (17, 9681782, 'HX332132', '2014-07-04', '079XX S STATE ST', '820', 'THEFT', '$500 AND UNDER', 'CTA PLATFORM', 0, 0, 623, 6, 6.0, 44.0, '6', 1177660.0, 1852569.0, 2014, 41.75077211, -87.62453842, '(41.750772111, -87.624538423)'),
 (18, 9166453, 'HW303994', '2013-06-04', '055XX W GLADYS AVE', '810', 'THEFT', 'OVER $500', 'VACANT LOT/LAND', 0, 0, 1522, 15, 29.0, 25.0, '6', 1139693.0, 1897797.0, 2013, 41.87565911, -87.76256886, '(41.875659108, -87.762568861)'),
 (19, 7762423, 'HS569246', '2010-10-17', '058XX W ARTHINGTON ST', '880', 'THEFT', 'PURSE-SNATCHING', 'SIDEWALK', 0, 0, 1513, 15, 29.0, 25.0, '6', 1137635.0, 1895420.0, 2010, 41.8691736, -87.77018245, '(41.869173601, -87.770182447)')]

In [77]:
%sql SELECT * FROM Census_Data LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(0, 1.0, 'Rogers Park', 7.7, 23.6, 8.7, 18.2, 27.5, 23939, 39.0)]

In [53]:
%sql SELECT * FROM Schools_Data LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(0, 610038, 'Abraham Lincoln Elementary School', 'ES', '615 W Kemper Pl', 'Chicago', 'IL', 60614, '(773) 534-5720', 'http://schoolreports.cps.edu/SchoolProgressReport_Eng/Spring2011Eng_610038.pdf', 'Fullerton Elementary Network', 'NORTH-NORTHWEST SIDE COLLABORATIVE', 'No', 'Standard', 'Not on Probation', 'Level 1', 'Yes', 'Very Strong', 99.0, 'Very Strong', '99', 'Strong', 74.0, 'Strong', 66.0, 'Weak', '65', 'Strong', '70', 'Strong', '56', 'Average', '47', '96.00%', 2.0, '96.40%', '95.80%', '80.1', '43.3', '89.6', '84.9', '60.7', '62.6', '81.9', '85.2', '52', '62.4', '66.3', '77.9', 69.7, 64.4, 0.2, 0.9, 'Yellow', 'Green', '67.1', '54.5', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 'NDA', 813, 33, 'NDA', 1171699.458, 1915829.428, 41.92449696, -87.64452163, 7, 'LINCOLN PARK', 43, 18, '(41.92449696, -87.64452163)')]

### Problem 2

##### List community area names and numbers with per capita income less than 11000.

In [72]:
%sql SELECT DISTINCT COMMUNITY_AREA_NUMBER, Community_Area_Name FROM Census_Data WHERE Per_Capita_Income < 11000

 * sqlite:///FinalDB.db
Done.

[(26.0, 'West Garfield Park'),
 (30.0, 'South Lawndale'),
 (37.0, 'Fuller Park'),
 (54.0, 'Riverdale')]

### Problem 3

##### List all case numbers for crimes involving minors?(children are not considered minors for the purposes of crime analysis)

In [100]:
%sql SELECT DISTINCT Description FROM Crime_Data

 * sqlite:///FinalDB.db
Done.

[('FROM BUILDING',),
 ('$500 AND UNDER',),
 ('FINANCIAL ID THEFT: OVER $300',),
 ('OVER $500',),
 ('RETAIL THEFT',),
 ('AGG: FINANCIAL ID THEFT',),
 ('PURSE-SNATCHING',),
 ('POCKET-PICKING',),
 ('ATTEMPT THEFT',),
 ('SIMPLE',),
 ('DOMESTIC BATTERY SIMPLE',),
 ('AGG PO HANDS NO/MIN INJURY',),
 ('PRO EMP HANDS NO/MIN INJURY',),
 ('AGGRAVATED:KNIFE/CUTTING INSTR',),
 ('AGGRAVATED: OTHER DANG WEAPON',),
 ('AGGRAVATED: HANDGUN',),
 ('AGGRAVATED DOMESTIC BATTERY',),
 ('AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON',),
 ('TO VEHICLE',),
 ('TO CITY OF CHICAGO PROPERTY',),
 ('TO PROPERTY',),
 ('CRIMINAL DEFACEMENT',),
 ('POSS: CANNABIS 30GMS OR LESS',),
 ('POSS: HEROIN(WHITE)',),
 ('MANU/DEL:CANNABIS 10GM OR LESS',),
 ('MANU/DELIVER: HEROIN (WHITE)',),
 ('POSS: CRACK',),
 ('FOUND SUSPECT NARCOTICS',),
 ('MANU/DELIVER: METHAMPHETAMINES',),
 ('POSS: COCAINE',),
 ('ATTEMPT POSSESSION NARCOTICS',),
 ('SOLICIT NARCOTICS ON PUBLICWAY',),
 ('MANU/DELIVER:CRACK',),
 ('TELEPHONE THREAT',),
 ('OBSCENE TELEPHONE CALLS',),
 ('VIOLATE ORDER OF PROTECTION',),
 ('HARASSMENT BY TELEPHONE',),
 ('PROBATION VIOLATION',),
 ('HARASSMENT BY ELECTRONIC MEANS',),
 ('PAROLE VIOLATION',),
 ('FALSE/STOLEN/ALTERED TRP',),
 ('OTHER VEHICLE OFFENSE',),
 ('OTHER CRIME AGAINST PERSON',),
 ('SEX OFFENDER: FAIL REG NEW ADD',),
 ('AGGRAVATED PO: OTHER DANG WEAP',),
 ('UNLAWFUL ENTRY',),
 ('FORCIBLE ENTRY',),
 ('AUTOMOBILE',),
 ('THEFT/RECOVERY: AUTOMOBILE',),
 ('ATT: AUTOMOBILE',),
 ('TRUCK, BUS, MOTOR HOME',),
 ('CREDIT CARD FRAUD',),
 ('THEFT OF LABOR/SERVICES',),
 ('FORGERY',),
 ('THEFT OF LOST/MISLAID PROP',),
 ('FRAUD OR CONFIDENCE GAME',),
 ('THEFT BY LESSEE,MOTOR VEH',),
 ('BOGUS CHECK',),
 ('FINANCIAL IDENTITY THEFT OVER $ 300',),
 ('ILLEGAL USE CASH CARD',),
 ('ARMED: HANDGUN',),
 ('STRONGARM - NO WEAPON',),
 ('VEHICULAR HIJACKING',),
 ('ARMED:KNIFE/CUTTING INSTRUMENT',),
 ('AGGRAVATED',),
 ('AGGRAVATED VEHICULAR HIJACKING',),
 ('TO STATE SUP LAND',),
 ('TO RESIDENCE',),
 ('TO LAND',),
 ('CALL OPERATION',),
 ('SOLICIT ON PUBLIC WAY',),
 ('SOLICIT FOR BUSINESS',),
 ('UNLAWFUL POSS OF HANDGUN',),
 ('UNLAWFUL POSS OTHER FIREARM',),
 ('RECKLESS CONDUCT',),
 ('BOMB THREAT',),
 ('AGG SEX ASSLT OF CHILD FAM MBR',),
 ('SEX ASSLT OF CHILD BY FAM MBR',),
 ('CRIM SEX ABUSE BY FAM MEMBER',),
 ('AGG CRIM SEX ABUSE FAM MEMBER',),
 ('ATTEMPT NON-AGGRAVATED',),
 ('NON-AGGRAVATED',),
 ('AGG CRIMINAL SEXUAL ABUSE',),
 ('OTHER',),
 ('RESIST/OBSTRUCT/DISARM OFFICER',),
 ('ESCAPE',),
 ('GAME/DICE',),
 ('SELL/GIVE/DEL LIQUOR TO MINOR',),
 ('ILLEGAL CONSUMPTION BY MINOR',),
 ('BY FIRE',),
 ('FIRST DEGREE MURDER',),
 ('CHILD ABDUCTION/STRANGER',),
 ('INTIMIDATION',),
 ('CYBERSTALKING',),
 ('OBSCENE MATTER',),
 ('LICENSED PREMISE',),
 ('LOST PASSPORT',),
 ('INTOXICATING COMPOUNDS',),
 ('INVOLUNTARY SERVITUDE',),
 ('FOID - REVOCATION',),
 ('AGG RIT MUT: HANDS/FIST/FEET SERIOUS INJURY',),
 ('NOTIFICATION OF CIVIL NO CONTACT ORDER',),
 ('DOMESTIC VIOLENCE',)]

In [99]:
%sql SELECT Case_Number, Description, Primary_Type FROM Crime_Data WHERE Description LIKE "%MINOR%"

 * sqlite:///FinalDB.db
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR', 'LIQUOR LAW VIOLATION'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR', 'LIQUOR LAW VIOLATION')]

### Problem 4

##### List all kidnapping crimes involving a child?

In [93]:
%sql SELECT DISTINCT Primary_Type FROM Crime_Data

 * sqlite:///FinalDB.db
Done.

[('THEFT',),
 ('BATTERY',),
 ('CRIMINAL DAMAGE',),
 ('NARCOTICS',),
 ('OTHER OFFENSE',),
 ('ASSAULT',),
 ('BURGLARY',),
 ('MOTOR VEHICLE THEFT',),
 ('DECEPTIVE PRACTICE',),
 ('ROBBERY',),
 ('CRIMINAL TRESPASS',),
 ('PROSTITUTION',),
 ('WEAPONS VIOLATION',),
 ('PUBLIC PEACE VIOLATION',),
 ('OFFENSE INVOLVING CHILDREN',),
 ('CRIM SEXUAL ASSAULT',),
 ('SEX OFFENSE',),
 ('INTERFERENCE WITH PUBLIC OFFICER',),
 ('GAMBLING',),
 ('LIQUOR LAW VIOLATION',),
 ('ARSON',),
 ('HOMICIDE',),
 ('KIDNAPPING',),
 ('INTIMIDATION',),
 ('STALKING',),
 ('OBSCENITY',),
 ('CONCEALED CARRY LICENSE VIOLATION',),
 ('PUBLIC INDECENCY',),
 ('NON-CRIMINAL',),
 ('OTHER NARCOTIC VIOLATION',),
 ('HUMAN TRAFFICKING',),
 ('NON - CRIMINAL',),
 ('RITUALISM',),
 ('NON-CRIMINAL (SUBJECT SPECIFIED)',),
 ('DOMESTIC VIOLENCE',)]

In [96]:
%sql SELECT * FROM Crime_Data WHERE Primary_Type IS "KIDNAPPING"

 * sqlite:///FinalDB.db
Done.

[(520, 5276766, 'HN144152', '2007-01-26', '050XX W VAN BUREN ST', '1792', 'KIDNAPPING', 'CHILD ABDUCTION/STRANGER', 'STREET', 0, 0, 1533, 15, 29.0, 25.0, '20', 1143050.0, 1897546.0, 2007, 41.87490841, -87.75024931, '(41.874908413, -87.750249307)')]

### Problem 5

##### List the kind of crimes that were recorded at schools. (No repetitions)

In [106]:
%sql SELECT DISTINCT Primary_Type, Description, location_description FROM Crime_DATA Where location_description LIKE "%SCHOOL%"

 * sqlite:///FinalDB.db
Done.

[('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SIMPLE', 'SCHOOL, PUBLIC, BUILDING'),
 ('CRIMINAL DAMAGE', 'TO VEHICLE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'POSS: HEROIN(WHITE)', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'MANU/DEL:CANNABIS 10GM OR LESS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'PRO EMP HANDS NO/MIN INJURY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'TO LAND', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'BOMB THREAT', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the type of schools along with the average safety score for each type.

In [122]:
%sql SELECT "Elementary, Middle, or High School", AVG(Safety_Score) AS avg_score  FROM Schools_Data GROUP BY "Elementary, Middle, or High School"

 * sqlite:///FinalDB.db
Done.

[('ES', 49.52038369304557), ('HS', 49.62352941176471), ('MS', 48.0)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [125]:
%sql SELECT community_area_name, PERCENT_HOUSEHOLDS_BELOW_POVERTY FROM Census_DATA GROUP BY PERCENT_HOUSEHOLDS_BELOW_POVERTY ORDER BY PERCENT_HOUSEHOLDS_BELOW_POVERTY DESC LIMIT 5

 * sqlite:///FinalDB.db
Done.

[('Riverdale', 56.5),
 ('Fuller Park', 51.2),
 ('Englewood', 46.6),
 ('North Lawndale', 43.1),
 ('East Garfield Park', 42.4)]

### Problem 8

##### Which community area is most crime prone? Display the coumminty area number only.

In [149]:
%sql SELECT Community_Area_Number  FROM Crime_Data  GROUP BY Community_Area_Number ORDER BY COUNT(Community_Area_Number) DESC LIMIT 1

 * sqlite:///FinalDB.db
Done.

[(25.0,)]


Double-click **here** for a hint

<!--
Query for the 'community area number' that has most number of incidents
-->

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [148]:
%sql SELECT community_area_name  FROM Census_Data WHERE hardship_index = (SELECT MAX(hardship_index) FROM Census_Data)

 * sqlite:///FinalDB.db
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [147]:
%sql SELECT community_area_name  FROM Census_Data  WHERE community_area_number = (SELECT Community_Area_Number FROM Crime_Data  GROUP BY Community_Area_Number ORDER BY COUNT(*) DESC LIMIT 1)

 * sqlite:///FinalDB.db
Done.

[('Austin',)]

## Author(s)

<h4> Hima Vasudevan </h4>
<h4> Rav Ahuja </h4>
<h4> Ramesh Sannreddy </h4>

## Contribtuor(s)

<h4> Malika Singla </h4>
<h4>Abhishek Gagneja</h4>
<!--
## Change log

| Date       | Version | Changed by        | Change Description                             |
| ---------- | ------- | ----------------- | ---------------------------------------------- |
|2023-10-18  | 2.6     | Abhishek Gagneja  | Modified instruction set |
| 2022-03-04 | 2.5     | Lakshmi Holla     | Changed markdown.                   |
| 2021-05-19 | 2.4     | Lakshmi Holla     | Updated the question                           |
| 2021-04-30 | 2.3     | Malika Singla     | Updated the libraries                          |
| 2021-01-15 | 2.2     | Rav Ahuja         | Removed problem 11 and fixed changelog         |
| 2020-11-25 | 2.1     | Ramesh Sannareddy | Updated the problem statements, and datasets   |
| 2020-09-05 | 2.0     | Malika Singla     | Moved lab to course repo in GitLab             |
| 2018-07-18 | 1.0     | Rav Ahuja         | Several updates including loading instructions |
| 2018-05-04 | 0.1     | Hima Vasudevan    | Created initial version                        |
-->
## <h3 align="center"> © IBM Corporation 2023. All rights reserved. <h3/>